.tech {
    padding: 0 15% 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tech-title {
    font-size: 35px;
    font-weight: bold;
}

.tech-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f3f7fa;
    padding: 40px 25px;
    border-radius: 6px;
}

.tech-item-title {
    font-size: 18px;
    font-weight: 500;
    color: #0c59db;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.tech-items-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.tech-item-content {
    font-size: 16px;
    color: #89898a;
    padding-left: 40px;
}

@media (max-width: 1200px) {
    .tech {
        padding: 0 5% 0;
    }

    .tech-items-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .tech-items-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}