.ttz {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ttz-title {
    font-size: 35px;
    font-weight: bold;
}

.ttz-title-y {
    color: #0c59db;
}

.ttz-sub {
    width: 40%;
    color: #89898a;
    font-size: 16px;
}

.ttz-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ttz-card-item {
    padding: 15px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 10px;

    > img {
        width: 100%;
        height: auto;
    }
}

.ttz-item-content {
    color: #89898a;
}

@media (max-width: 1200px) {
    .ttz-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .ttz {
        padding: 0 5%;
    }
}

@media (max-width: 768px) {
    .ttz-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .ttz-sub {
        width: 100%;
    }
}