.culture {
    padding: 70px 15% 70px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.culture-title {
    font-size: 35px;
    font-weight: bold;
}

.culture-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.culture-item-title {
    font-size: 20px;
    font-weight: 700;
    color: #0c59db;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.culture-items-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.culture-items-l {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border-right: #0c59db 0.5px solid;
}

.culture-items-r {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5%;
}

.culture-item-content {
    font-size: 16px;
    color: #89898a;
}

@media (max-width: 1200px) {
    .culture {
        padding: 30px 5% 30px;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .culture-items-list {
        flex-direction: column;
    }
    .culture-items-l {
        border: none;
    }
}